  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  
  .secao:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, white, transparent);
    z-index: 2;
}

.secao:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: color;
}

.secao{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text{
    position: relative;
    
    font-size: 10em;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

#road{
    z-index: 2;
}

body{
    overflow-x: hidden; 
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#img-logo-nav{
    width: 20%;
}

.navbar {
    position: fixed;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif ;
    font-size: 18px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: background-color 0.3s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    height: 20px;
    padding-right: 50px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-bottom: 35px;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 25px;

}

.navbar a:hover{
    
    color: rgb(242, 144, 255);
}

.logo {
    position: absolute;
    left: 20px;
    display: none;
}

.solid {
    background-color: #333;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0,5;
    }
    to {
        opacity: 1;
    }
}


.principal-header{
    /*background-image: url(images/Design\ sem\ nome.png);*/
    background-size: cover;
    border-top: 1px solid transparent;
    height: 750px;
}

.header-img{
    padding-top: 45px;
    width: 13%;
    float: left;
    margin-left: 0px;
}


.gradient {
    font-family: 'Poppins', sans-serif ;
    background-image: linear-gradient(to right, #420061 0%,#d30cd3 50%, #ff3eff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
  }

.principal-header h1{
    font-weight: 800;
    font-size: 110px;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 185px;
    color: white;
    font-family: 'Poppins', sans-serif ;
}

.principal-header h2{
    font-size: 30px;
    word-spacing: 3px;
    letter-spacing: 6px;
    text-align: center;
    color: white;
}

.section-one{
    background-color: white;
    padding-right: 105px;
    padding-top: 200px;
    padding-bottom: 100px;
}



.section-two{
    padding-top: 100px;
    padding-bottom: 110px;
    padding-right: 100px;
    background-color: #252526;
    color: white;
}

.section-two h1{
    font-size: 25px;
    font-family: 'Poppins';
    
}

.section-two p{
    font-size: 23px;
    line-break: 50px;
    
}

.icon-img{
    width: 20%;
    text-align: center;
    display: block;
    margin: 0 auto;
   
}

.section-three{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 110px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.section-three h1{
    font-size: 25px;
    font-family: 'Poppins';
}

.section-three p{
    font-size: 25px;
}

#img-produto{
    padding-left: 150px;
}

#fecap{
    color: green;
}

.text-eq{
    font-size: 55px;
    font-family: 'Poppins';
    text-align: center;
}

.container {
    display: flex; 
    justify-content: space-between; 
    padding-left: 100px;
}

.container {
    display: flex;
}


.left-content {
    flex: 1; 
    text-align: left;
     /*padding: 20px; */
    float: left;
    
}

.left-content h1{
    font-size: 60px;
    word-spacing: 2%;
    font-family: 'Poppins', sans-serif ;
}

.left-content p{
    font-size: 25px;
    word-spacing: 5px;
    
}

.right-content {
    flex: 1; 
    margin-left: 30px;
    float: right;
}

.right-content img{
    
    width: 90%;
    padding-top: 50px;
    height: 90%;


}

#p-p{
    font-size: 12px;
    text-align: left;
    padding-left: 270px;

}

.section-four{
    padding-top: 50px;
    padding-bottom: 110px;
    padding-right: 100px;
    background-color: #252526;
    color: white;
}

#hr-sf{
    margin-left: 110px;
    margin-right: 10px;

}


* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-left: 90px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  padding-right: 100px;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

#dot-position{
    padding-left: 90px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  
.box {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}


.box h2{
    text-align: center;
    font-size: 40px;
}

.linha {
    background-image: linear-gradient(to right, #3CB5F2, steelblue);;
    width: 300px;
    height: 10px;
    margin-left: 500px;
    float: auto;
}

.linha-vertical {
    height: 500px;
    border-left: gray 2px solid;
}

#linha-vertical-1 {
    height: 700px;
    border-left: gray 2px solid;
    margin-left: 100px;
}

.info-block {
    width: 30%; 
    padding: 20px;
    padding-right: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
}

.info-block h1 {
   
    font-size: 23px

}

.logo-img{
    width: 70%;
    float: center;
}

#principal-footer{
    background-color: #333;
}

#principal-footer img{
    width: 5%;
}

#p-footer{
    text-align: center;
    color: azure;
    margin-top: 150px;
}

.typewriter h1 {
    color: linear-gradient(to right, #420061 0%,#d30cd3 50%, #ff3eff 100%);;
    font-family: 'Poppins';
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap;
    margin: 0 auto; 
    padding-top: 250px;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to {width: 50%;}
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent}
  }

